@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://use.typekit.net/kma2wyt.css');

body {

  width: 100%;
  height: 100%;
  font-family: 'franklin-gothic-urw', "Franklin Gothic", "ITC Franklin Gothic", "franklin-gothic-ext-comp-urw", Arial, sans-serif;
}

#__nuxt,
#__nuxt>div,
#__nuxt>div>div {
  height: 100%;
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}


@font-face {
  font-family: 'plex-mono', 'ibm-plex-mono', 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'franklin-gothic-urw', "Franklin Gothic", "ITC Franklin Gothic", "franklin-gothic-ext-comp-urw", Arial, sans-serif;
  src: url('https://use.typekit.net/kma2wyt.css');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/digital-7.ttf') format('truetype');
}






.header {

  background-color: #1A2835;
  height: 60px;
  color: #FFF;
}

.image-opacity-50 {
  opacity: 0.5;
  background: lightgray 50% / cover no-repeat;

  mix-blend-mode: luminosity;
}

.digital-number {
  font-family: Digital-7;
}

h1 {
  font-family: "franklin-gothic-urw";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 80px;
}

.hidden {
  display: none;
}

.chapter-years {
  padding-top: 20px;
}

.chapters {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

.chapter-info {
  border-bottom: solid 1px #fff;
  display: grid;
  grid-template-columns: 120px auto;
  vertical-align: flex-start;
  align-items: center;
  align-content: center;
  height: 240px;
  height: calc(100% / 3);
  margin: 20px 0;
  clear: both;
  min-height: 240px;
}

.chapter-name {
  font-size: 48px;
  font-family: 'franklin-gothic-urw';
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 80px;
}

.chapter-years {
  font-size: 24px;
  font-family: Digital-7;
  line-height: 24px;
  grid-column: 2;
}

.chapter-number {
  color: #fdda24;
  font-family: Digital-7;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  width: 120px;
  min-width: 120px;
  padding-top: calc(1em / 8);
}

.chapter-info:last-child {
  border: none;
}

/*.gridline {
  border-left: 1px solid #aaa;
  height: 100%;

  &:nth-child(1),
  &:nth-child(13),
  &:nth-child(25) {
    border-left-color: #f00;
  }

  &:nth-child(even) {
    display: none;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  &:nth-child(12n + 3),
  &:nth-child(12n + 5),
  &:nth-child(12n + 7),
  &:nth-child(12n + 9),
  &:nth-child(12n + 11) {
    display: none;

    @media (min-width: 400px) {
      display: block;
    }
  }
}*/

.btn-yellow {
  width: 240px;
  height: 45px;
  border-radius: 100px;
  background-color: #FDDA24;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.layout-enter,
.layout-leave-active {
  opacity: 0
}