@import url('https://use.typekit.net/kma2wyt.css');

body {
  width: 100%;
  height: 100%;
  font-family: 'franklin-gothic-urw', 'Franklin Gothic', 'ITC Franklin Gothic',
    'franklin-gothic-ext-comp-urw', Arial, sans-serif;
  background: #000;
  margin: 0 auto;
}

#__nuxt,
#__nuxt>div,
#__nuxt>div>div {
  height: 100%;
  min-height: 100%;
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}

@font-face {
  font-family: 'plex-mono', 'ibm-plex-mono', 'IBM Plex Mono', Arial, Helvetica,
    sans-serif;
  src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'franklin-gothic-urw', 'Franklin Gothic', 'ITC Franklin Gothic',
    'franklin-gothic-ext-comp-urw', Arial, sans-serif;
  src: url('https://use.typekit.net/kma2wyt.css');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/digital-7.ttf') format('truetype');
}

.header {
  background-color: #1a2835;
  height: 60px;
  color: #fff;
}

.image-opacity-50 {
  opacity: 0.5;
  background: lightgray 50% / cover no-repeat;

  mix-blend-mode: luminosity;
  transition: all 0.5s;
}

.digital-number {
  font-family: Digital-7;
}

h1 {
  font-family: 'franklin-gothic-urw';
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 80px;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .hidden-audio {
    display: none !important;
  }
}

.body {
  overflow-x: hidden;
}

.chapter-years {
  padding-top: 20px;
}

.chapters {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

.btn-yellow {
  width: 240px;
  height: 45px;
  border-radius: 100px;
  background-color: #fdda24;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.section-container {
  scroll-margin-top: 50px;
  scroll-behavior: smooth;
}


.section-image,
.sections-left,
.main-content,
.chapters,
.sections-list {
  transition: all 0.5s;
}

@media only screen and (min-width: 769px) and (max-width: 880px) {
  .section-image {
    margin-left: unset;
  }

  .sections-left,
  .main-content,
  .chapters,
  .sections-list {
    max-width: 768px
  }

  .sections-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 881px) and (max-width: 960px) {

  .sections-left,
  .main-content,
  .chapters,
  .sections-list {
    max-width: 880px !important;
  }


}

@media only screen and (min-width: 961px) and (max-width: 1080px) {

  .sections-left,
  .main-content,
  .chapters,
  .sections-list {
    max-width: 960px !important;
  }

  .sections-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1350px) {


  .sections-left,
  .main-content,
  .chapters,
  .sections-list {
    max-width: 1080px !important;
  }


}

@media only screen and (max-width: 1080px) {
  .sections-right {
    display: none;
  }

  .section-teaser .section-summary {
    max-width: 360px !important;
  }

  .section-image {
    margin-left: unset !important;
  }
}

@media only screen and (max-width: 1200px) {
  .sections-right {
    display: none;
  }
}

@media only screen and (max-width: 1350px) {

  .sections-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

.section-play {
  .icon:hover {
    cursor: pointer;
    color: #fdda24;
  }

  .icon:active {
    color: #fdda24;
    opacity: 0.5;
  }
}

.sections-right {

  a:hover {
    color: #fdda24;
  }

  a:active {
    opacity: 0.5;
  }
}